/* Add the reset styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset font-size, font-family, and font-weight */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

/* Reset headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* Reset lists */
ol,
ul {
  list-style: none;
}

/* Reset links */
a {
  color: inherit;
  text-decoration: none;
}

/* Reset images */
img {
  border: 0;
  max-width: 100%;
}

nav {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  z-index: 99;
}

nav .container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav .title {
  flex: 0 0 auto;
  font-size: 18px;
  font-weight: bold;
}

nav ul {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  align-items: baseline;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
}

nav li:last-child a {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: red;
}
